<html>

<h4>CPU: {{ ansible_processor }}</h4>

<h4>RAM: {{ ansible_facts['memory_mb']['real']['total']}}</h4>

<h4>HDD: {{ ansible_facts['devices']['sda']['size'] }} {{ansible_facts['devices']['sda']['model']}}</h4>

<h4>IP_ADRESS: {{ ansible_facts['default_ipv4']['address'] }}</h4>

</html>